<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>

    <div class="div-01-layout">

        <div class="div-01-body">

            <h1 class="title-01">Login</h1>
            <p class="eyi">Enter Your Information Bellow:</p>

            <form action="/login" method="POST">

                <div class="e-mail-div">
                    <label for="email">E-mail</label>
                    <input type="email" id="eamil" name="email" placeholder="Enter your E-Mail..." required>
                </div>
            
                <div class="password-div">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password..." required>
                </div>
            
                <button class="login" type="submit">Login</button>
            </form>

        </div>
    </div>

    <style>
    .div-01-layout{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .div-01-body{
        width: 500px;
        height: 400px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-01{
        margin: 10px 0px;
        font-size: 42px;
        text-align: center;
    }

    .eyi{
        margin: 10px 0px;
        font-size: 15px;
        text-align: center;
    }

    .e-mail-div{
        display: flex;
        flex-direction: column;
    }

    .e-mail-div label{
        font-size: 20px;
    }

    .e-mail-div input{
        width: 250px;
        height: 25px;
    }

    .password-div{
        display: flex;
        flex-direction: column;
    }

    .password-div label{
        font-size: 20px;
    }

    .password-div input{
        width: 250px;
        height: 25px;
    }

    .login{
        width: 150px;
        height: 30px;
        margin: 50px;
    }
    </style>
    
</body>
</html>





<h1>Login</h1>


<a href="/register">Register</a>